@use "@style/vars.scss" as *;

.maze {
  & canvas {
    margin: 20px;
  }

  
  & h3 {
    width: 100%;
  }

  & div {
    align-items: center;
  }

  & input {
    padding: $measure * 2;
    border: none;
    border-radius: $border-radius-a;
    cursor: pointer;
  }

  & select {
    padding: $measure * 2;
    border: none;
    cursor: pointer;
    border-radius: $border-radius-a;
    margin-left: $measure;
    margin-right: $measure;
  }

  & button {
    padding: $measure * 2 $measure * 4;
    border: none;
    border-radius: $border-radius-a;
    cursor: pointer;
  }

  & button:active {
    transform: scale(.94);
  }

}